body {
    margin: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #191516;
    
}

.avatar {
    width: 270px;
    border: 0px transparent;
    border-radius: 15px;
}

.card {
    width: 650px;
    margin: 0 auto;
    padding: 22px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #BCABAE;
    color: #191516;
    border-bottom: 15px solid #A63A50;
    font-size: 22px;
    border-radius: 15px;
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly ;
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

