.avatar {
  /* width:fit-content; */
  border: 0px transparent;
  border-radius: 15px;
  height: 100%;
  height: 300px;
}


#top-card {
  justify-content:space-between;
}

h1{
  color: #1f3964;
  margin-left: 22px;
}



.card-text {
  display: flex;
  flex-direction: column;
  justify-content:space-between ;
  text-align: left;

}

.border-blue {
  border: 1px dotted blue;
}

